.Cart__Container{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    min-height: 80vh;
    flex-flow: column nowrap;
    animation: toRightVisible 1s 1 ease-in-out forwards;
}
    .Cart__Container h3{
        font-weight: 600;
    }
    .Cart__Body{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .Cart__Products{
        width: 65%;
    }
        .Cart__Products-Header{
            display: flex;
            align-items: center !important;
            border-radius: .5rem;
            background-color: black;
            color: white;
            font-weight: 400;
            height: 30px;
        }
            .Cart__Products-Header span{
                flex-basis: 59%;
            }
            .Title__Count{
                text-align: center;
                flex-basis: 15%;
            }
            .Title__Price{
                flex-basis: 12%;
                text-align: center;
            }
            .Checkbox__All-Product{
                display: flex;
                align-items: center;
            }
            .Cart__Products-Empty{
                margin: 30px auto;
                width: fit-content;
                height: 180px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: center;
                animation: toVisible 2s 1 forwards;
            }
                .Cart__Products-Empty-image{
                    width: 150px;
                    height: 150px;
                    overflow: hidden;
                    border-radius: 10rem;
                }
                    .Cart__Products-Empty-image img{
                        width: 100%;
                        height: 100%;
                    }
                    .Cart__Products-Empty span{
                        color: red;
                        font-weight: 600;
                    }
        .Cart__Products-Body{
            margin-top: 10px;
            border-top: 1px solid rgba(109, 109, 109, 0.308);
            border-bottom: 1px solid rgba(109, 109, 109, 0.308);
        }
            .Cart__Bill-Info-Info-Name,
            .Cart__Bill-Info-Info-Email,
            .Cart__Bill-Info-Info-Phone,
            .Cart__Bill-Info-Date{
                line-height: 25px;
            }
            .Cart__Products-item{
                display: flex;
                align-items: center;
                padding: 20px 0;
            }
                .checkbox__product,
                .Checkbox__All-Product{
                 flex-basis: 8%;   
                }
                .imgbook{
                    flex-basis: 16%;
                }
                    .Img__Book{
                        width: 100px;
                        height: 100px;
                    }
                .Cart__Products-group-product-info{
                    display: flex;
                    flex-basis: 30%;
                    align-items: center;
                    justify-content: space-around;
                }
                    .Cart__Products-group-product-info span{
                        color: red;
                        font-weight: 600;
                    }
                    .Cart__Products-BookName{
                        text-decoration: none;
                        cursor: pointer;
                        color: black;
                        flex-basis: 44%;
                        display:-webkit-box;
                        -webkit-line-clamp:2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-word;
                    }
                    .Cart__Products-Count{
                        border: 1px solid gray;
                    }
                    .Cart__Products-Count,
                    .Cart__Products-Button{
                        width: max-content;
                        height: max-content;
                    }
                        .Cart__Products-Button button{
                            border: none;
                            background-color: rgba(230, 228, 228, 0.562);
                        }
                        .Cart__Products-Button input{
                            border: none;
                            width: 30px !important;
                            text-align: center;
                        }
    .Cart__Products-Footer,
    .Cart__Bill-Pay-BtnPay{
        cursor: pointer;
        display: flex;
        align-items: center;
        color: white;
        background-color: rgba(255, 0, 0, 0.644);
        text-align: center;
        width: fit-content;
        padding: 10px;
        height: 30px;
        border-radius: .3rem;
        margin: 20px 0 20px 0;
        transition: 1s;
        text-decoration: none;
    }
    .Cart__Products-Footer{
        display:none;
    }
        .Cart__Products-Footer:hover,
        .Cart__Bill-Pay-BtnPay:hover{
            background-color: rgb(255, 0, 0);
            box-shadow: 0 0 10px 0 red;
            text-decoration: none;
            color: white;
        }
    .Cart__Bill{
        width: 30%;
    }
        .Cart__Bill h2{
            width: fit-content;
            border-bottom: 1px solid rgba(109, 109, 109, 0.308);
            font-weight: 600;
            user-select: none;
            font-size: 20px;
        }
        .Cart__Bill-Info{
            user-select: none;
            display: flex;
            flex-flow: column;
            padding: 0 0 20px 0;
            height: 100px;
            justify-content: space-around;
            border-bottom: 1px solid rgba(109, 109, 109, 0.308);
        }
        .Cart__Bill-Pay{
            display: flex;
            justify-content: space-between;
            margin: 5px 0 20px 0;
        }
            .Cart__Bill-Pay-Price{
                display: flex;
                flex-direction: column;
                font-weight: 600;
                font-size: 15px;
                justify-content: center;
                user-select: none;
            }
            .Cart__Bill-Pay-Price span{
                color: red;
                font-size: 20px;
            }
    .btnDeleteItem{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 1s;
        color: black;
    }
        .btnDeleteItem:hover{
            color: white;
            border-radius: 1.5rem;
            background-color: red;
        }

    @media screen and (max-width:821px) {
        .Cart__Products-Header span{
            flex-basis: 45%;
        }
        .Title__Count{
            flex-basis: 25%;
        }
    }
    @media screen and (max-width:415px) {
        .Cart__Body{
            flex-flow: column nowrap;
        }
        .Cart__Products-Header,
        .Cart__Container,
        .Cart__Products,
        .Cart__Bill{
            width: 100%;
            border-radius: 0rem;
        }
            .Cart__Products-Header span{
                flex-basis: 50%;
            }
            .Cart__Container h3{
                margin: 10px;
            }
            .Cart__Products-Footer{
                margin-left: 10px;
            }
            .Cart__Bill{
                padding: 0 10px 0 10px;
            }
        .Cart__Products-Body{
            border-radius: 0rem;
        }
            .Title__Count,
            .Title__Price{
                display: none;
            }
            .Cart__Products-item{
                flex-wrap: wrap;
                justify-content: space-around;
            }
            .imgbook img{
                height: 130px;
            }
                .Cart__Products-group-product-info{
                    margin: 20px 0 0 10px ;
                    justify-content: space-around;
                    flex-basis: 70%;
                }
    }








/* Check box styles */
.checkbox{
    margin: 0 10px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    display: grid;
    place-content: center;
}
    .checkbox::before{
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
        /* Windows High Contrast Mode */
        background-color: CanvasText;
    }
    .checkbox:checked{
        background-color: red;
    }
    .checkbox:checked::before{
        transform: scale(1);
    }
    .checkbox:focus{
        outline: max(2px, 0.15em) solid currentColor;
        outline-offset: max(2px, 0.15em);
    }


    /* Animation */
    @keyframes toRightVisible{
        from{
            opacity: 0;
            transform: translateX(-150px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }